export( "allow.write","apply.dbdf","as.data.frame.dbdf","as.dbdf","as.dbdf.dbv","as.dbdf.list","as.list.dbdf","as.matrix.dbdf","as.vector.dbdf","as.vector.dbv","cbind.dbdf","dbdf","[<-.dbdf","[.dbdf","[[<-.dbdf","[[.dbdf","$<-.dbdf","$.dbdf","dbdf.database","dbdf.driver","dbdf.meta","dbdf.verbose","dbv","dbv2","dim.dbdf","dimnames.dbdf","driver.dbdf","get.dbdf","getMetaInfo","head.dbdf","is.dbdf","is.dbv","length.dbdf","length.dbv","ls.dbdf","merge.dbdf","names<-.dbdf","names.dbdf","names<-.dbv","names.dbv","print.dbdf","rbind.dbdf","rm.dbdf","row.names<-.dbdf","select","select.dbdf","setMetaInfo.dbdf","str.dbdf","subset.dbdf","tail.dbdf" )
